.form {
    max-width: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputsContainer {
        @media (max-width:768px) {
            flex-direction: column;
        }
    }
}