.TariffsAdaptiveTable{
    display: flex;
    flex-direction: column;

    .tableContainer{
        display: flex;
    }
    .rowCell{
        align-items: center !important;
    }

    .firstTableContainer{
        display: flex;
    }

    .secondTableContainer{
        display: flex;

    }
}

