.DetailedPageSupplier {
    display: flex;
    flex-direction: column;
    padding: 20px;

    @media (max-width: 768px) {
        padding: 0px;
    }

    .topContainer {
        display: flex;
        margin-left: 70px;
        padding: 20px;
        padding-left: 0px;
        align-items: center;

        @media (max-width: 768px) {
            margin-left: 0px;
        }
    }

    .bottomContainer {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;
        }

        .bottomLeftContainer {
            &::-webkit-scrollbar {
                display: none;
            }

            @media (max-width: 768px) {
                overflow-x: auto;
                width: 100%;
            }

            .navSupplier {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                padding-right: 20px;
                gap: 10px;
                & button {
                    font-weight: var(--font-weight-reg);
                    width: 200px;
    
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }

                @media (max-width: 768px) {
                    flex-direction: row;
                }
            }
        }

       
            .tableMainBlock {
                flex-direction: column;
                gap: 10px;

                .mainBlockRow {
                    display: block;
                    padding: 8px 20px 8px 0px;
                    border-bottom: 1px solid var(--background-1);

                    & span {
                        font-size: var(--font-size-reg);
                        margin-left: 0px;

                        @media (max-width: 768px) {
                            font-size: var(--font-size-s);
                        }
                    }

                }

            }

        
    }
}