.TenderInfo{
    display: flex;
    gap: 20px;
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 15px;
    }

    .heading{
        font-weight: var(--font-weight-reg);
        font-size: var(--font-size-s);
        color: var(--gray-9);
    }

    .sRegFontSize{
        font-size: var(--font-size-sreg);
    }

    .text{
        color: var(--dark-2); 
    }
    .boldText{
        font-weight: unset;
        font-weight: var(--font-weight-sb);
    }
    
}
