.modalBelowWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    max-height: 70vh;
    background-color: var(--background-1);
    border-radius: 20px 20px 0 0; 
    // width: 425px;
    // max-width: 768px;
    // width: 100%;
    width: 100vw;
    max-height: 70vh;

    @media (max-width: 425px) {
        width: 320px;
    }

    .topContainer {
        background-color: var(--background-1);
        margin-top: 18px;

        & h4 {
            text-align: center;
            font-size: var(--font-size-reg);
            font-weight: var(--font-weight-med);
        }
    }

    .wBorder{
        border-top: 1px solid var(--block-border);
    }

    .bottomChildren{
        padding: 20px;
        background-color: var(--background-2);
        padding: 20px;
        border-radius: 20px 20px 0 0;
        overflow-y: auto;
    }

    .xmarkButton {
        position: absolute;
        top: -40px;
        left: 45%;

        &:active {
            transform: scale(0.9);
        }
    }
}