.LKSubheader{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dialog-surface);
    .container{
        display: flex;
        gap: 10px;
        background-color: var(--background-2);

        .checkedItemsNumber{
            font-size: var(--font-size-s);
            & span{
                font-weight: var(--font-weight-med);
            }
        }
    }
}