.TenderPageMainInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--white); 
    border-radius: 16px;
    .tenderInfo{
        padding: 16px;
        padding-top: 0px;
        font-size: var(--font-size-reg);
        color: var(--gray-9);
    }
}