.VerifiedSupplier {
    display: flex;
    align-items: center;
    gap: 5px;

    & span {
        color: var(--font-caption);
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-med);
    }

    .valid {
        color: var(--n-green-1);
    }
}