.DetailedPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--background-2);

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        border-radius: 0px;
    }

    .leftContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .topContainer {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .type {
                color: var(--gray-9);
                font-size: var(--font-size-reg);
                font-weight: var(--font-weight-light);
                @media (max-width: 768px) {
                    font-size: var(--font-size-s);
                }
            }

            .name {
                color: var(--font);
                font-size: var(--font-size-mxl);
                font-weight: var(--font-weight-med);

                @media (max-width: 768px) {
                    font-size: var(--font-size-m);
                }
            }
        }

        .restInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            overflow-x: auto;
            padding: 5px;
            padding-right: 0px;

            &::-webkit-scrollbar {
                display: none;
            }

            .restInfoMainBlock {
                gap: 10px;

                & span {
                    margin-left: 0px;
                }
            }
        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        // width: 100%;

        @media (max-width: 1024px) {
            width: 100%;
        }

    }}

.visible {
    @media (max-width: 1024px) {
        display: flex;
    }

    @media (max-width: 768px) {
        display: none;
    }
}