.wrapper {
    background-color: var(--white);

    .block {
        width: var(--max-width);
        padding: 14.5px 16px;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 40px;

        .left {
            display: flex;
            align-items: center;
            gap: 30px;
            width: 100%;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    
}

.logo{
    @media (max-width: 768px) {
        display: none;
    }
}

.categoryMobile{
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.mobileButton{
    padding: 7px;
    border: 1px solid var(--gray-5);
    border-radius: 25px;
}