.wrapper {
    background-color: var(--white);

    .block {
        width: var(--max-width);
        padding: 14.5px 16px;
        display: flex;
        align-items: center;
        gap: 40px;

        .left {
            display: flex;
            align-items: center;
            gap: 30px;
            width: 100%;
        }
    }
}