@mixin BoldThirdFamily {
    font-family: var(--third-family);
    font-size: var(--font-size-msl);
    font-weight: var(--font-weight-sb) !important;
}

.ProfileMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .cabinetModule {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
        gap: 10px;

        @media (min-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }

    .cabinetBuyer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
    }
    .supplierBlock{
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .fileBlock {
            max-width: 400px;
    
            @media (max-width: 1024px) {
                max-width: 100%;
            }
    
        }
    
        .fileBlockTitle {
            @include BoldThirdFamily;
        }
    }
}

//PRODUCT_SLIDER
.sliderTitle {
    @include BoldThirdFamily;

}

.list {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.productItem {
    flex-grow: 1;
}