.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    width: 100%;
    background-color: var(--background-2);
    padding: 0px 20px;
    border-radius: 20px 20px 0 0;
}