.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--gray-3);
    cursor: pointer;
    font-family: var(--font-family);
    color: var(--dark-2);
    transition: all 0.3s;

    & svg{
        & circle{
            stroke: var(--gray-8);
        }
        & path{
            fill: var(--gray-8)
        }
    }

    &:hover{
        background-color: var(--gray-4);
        transition: all 0.3s;
    }
}

.empty-icon{
    width: 31px;
    height: 31px;
    background-color: var(--gray-3);
    transition: all 0.3s;
    &:hover{
        transition: all 0.3s;
    }
}


.w-text-clear{
    gap: 10px;
    width: 148px;
    height: 36px;
    background-color: transparent;
    border: 1px solid var(--gray-5);
    transition: all 0.3s;

    & svg{
        & circle{
            stroke: var(--dark-2);
        }
        & path{
            fill: var(--dark-2)
        }
    }

    &:hover{
        border: 1px solid transparent;
        transition: all 0.3s;
    }
}

.w-text-gray{
    gap: 10px;
    width: 148px;
    height: 36px;

    & svg{
        & circle{
            stroke: var(--dark-2);
        }
        & path{
            fill: var(--dark-2)
        }
    }
}


.toSubscribeIcon {
    & circle{
        stroke: var(--dark-2);
    }
    & path{
        fill: var(--dark-2)
    }
}