.ProductLKSmartList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
}

.subHeader{
        top: 107px;
}

.showSubheader {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
}