.ProductLKSmartList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
}

.subHeader {
        top: 108px;
}

.showSubheader {
        visibility: visible !important;
        opacity: 1 !important;
        transition: 0.3s;
}

.paddingTop {
        padding-bottom: 20px !important;
}