.DetailedPageDescription {
    padding-left: 16px;
    padding-right: 16px;
    font-size: var(--font-size-reg);
    color: var(--gray-9);

    @media (max-width: 1024px) {
        font-size: var(--font-size-s);
    }
}