.wrapperInput {
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	background-color: var(--background-2);
	border: 1px solid var(--gray-5);
	padding: 20px;
}

.input,.textarea{
	width: 100%;
	outline: none;
	font-size: var(--font-size-reg);
	transition: .3s;

	&::placeholder {
		font-size: var(--font-size-reg);
	}

	// @media (max-width: 768px) {
	// 	font-size: var(--font-size-s);

	// 	&::placeholder {
	// 		font-size: var(--font-size-s);
	// 	}
	// }
}

.input {
	background-color: var(--background-2);
	border: none;
}

.textarea {
	min-height: 180px;
	resize: none;
	border: 1px solid var(--gray-5);
	background-color: var(--background-2);
	padding: 20px;

	@media (max-width: 768px) {
		min-height: 150px;
	}
}

.rounded {
	border: 1px solid var(--gray-5);
	padding-left: 3px;

	.input {
		background-color: var(--gray-3);
		font-size: var(--font-size-reg);

		&::placeholder {
			color: var(--n-gray-1);
			font-size: var(--font-size-reg);
		}
	}

	&:hover {
		.input {
			background-color: var(--gray-4);
		}
	}

	@media (max-width: 768px) {
		.input{
			background-color: var(--gray-3) !important;
		}
	}
}

.rectangular {
	border: 1px solid var(--tertiary-border);
	border-radius: 5px;

	& input{
		font-weight: var(--font-weight-med);

		&::placeholder {
			transition: .3s;
		}
	}
	
	&:hover {
		border-color: var(--tertiary-hovered);
		transition-duration: 0.3s;

		& input{
			&::placeholder {
				color: var(--font) !important;
				transition: .3s;
			}
		}
		
	}

	&:focus,
	:active {
		border-color: var(--tertiary-pressed);
		transition-duration: 0.3s;
	}

	@media (max-width: 768px) {
		padding: 17px 15px;
	}


}


.disabled {
	background-color: var(--tertiary-surface-low);
	border: 1px solid var(--disabled) !important;
	border-radius: 5px;
	color: var(--font-caption-sub);
	font-weight: var(--font-weight-med);
	&:hover {
		& input{
			&::placeholder{
				color: var(--disabled) !important;
			}
		}
	}

	.input {
		background-color: var(--tertiary-surface-low) !important;
		color: var(--font-caption-sub);
	}
}

//STATES
.error {
	color: var(--font);
	border-color: var(--negative-border) !important;
	transition-duration: 0.3s;
}

.success {
	color: var(--font);
	border-color: var(--positive-border);
	transition-duration: 0.3s;
}

.wHovered {
	padding: 10px 10px 10px 15px;
	background-color: var(--gray-3);
	border-radius: 15px;
	font-size: var(--font-size-s);

	&::placeholder {
		color: var(--dark-1);
	}

	&:hover {
		background-color: var(--gray-4);
		& input{
			background-color: var(--gray-4) !important;
		}
	}
}