.wrapperInput {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background-color: var(--background-2);
    border: 1px solid var(--gray-5);
    padding: 20px;
}

.input {
    width: 100%;
    background-color: var(--background-2);
    outline: none;
    border: none;
    font-size: var(--font-size-reg);
    transition: .3s;
}

.textarea {
    // .input, .textarea {
    width: 100%;
    background-color: var(--background-2);
    outline: none;
    border: 1px solid var(--gray-5);
    padding: 20px;
    font-size: var(--font-size-reg);
    transition: .3s;
}


.textarea {
    min-height: 180px;
    resize: none;

    @media (max-width: 768px) {
        min-height: 150px;
    }
}

.rounded {
    border: 1px solid var(--gray-5);
    padding-left: 3px;



    .input {
        background-color: var(--gray-3) !important;
        font-size: var(--font-size-s);

        &::placeholder {
            color: var(--n-gray-1);
        }
    }

    &:hover {
        .input {
            background-color: var(--gray-4) !important;
        }
    }
}

.rectangular {
    border: 1px solid var(--tertiary-border);
    border-radius: 5px;
    font-weight: var(--font-weight-med);

    &::placeholder {
        transition: .3s;
    }

    &:hover {
        border-color: var(--tertiary-hovered);
        transition-duration: 0.3s;

        &::placeholder {
            color: var(--font);
            transition: .3s;
        }
    }

    &:focus,
    :active {
        border-color: var(--tertiary-pressed);
        transition-duration: 0.3s;
    }

    @media (max-width: 768px) {
        padding: 17px 15px;
        font-size: var(--font-size-s);
    }


}


.disabled {
    background-color: var(--tertiary-surface-low);
    border: 1px solid var(--disabled) !important;
    border-radius: 5px;
    color: var(--font-caption-sub);
    font-weight: var(--font-weight-med);

    //ADAPTIVE
    @media (max-width: 768px) {
        font-size: var(--font-size-s);

        .selectedoption {
            font-size: var(--font-size-s);
        }

        & input,
        p {
            padding: 13px 15px;
        }
    }

    &:hover {
        border-color: var(--disabled);

        .placeholder {
            color: var(--disabled) !important;
        }
    }


    &::placeholder {
        color: var(--disabled) !important;
    }



    .inputContainer {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        padding-left: 15px;

        .input {
            font-size: var(--font-size-s);
        }
    }
}

//STATES
.error {
    color: var(--font);
    border-color: var(--negative-border) !important;
    transition-duration: 0.3s;
}

.success {
    color: var(--font);
    border-color: var(--positive-border);
    transition-duration: 0.3s;
}

.wHovered {
    padding: 10px 10px 10px 15px;
    background-color: var(--gray-3);
    border-radius: 15px;
    font-size: var(--font-size-s);

    &::placeholder {
        color: var(--dark-1);
    }

    &:hover {
        background-color: var(--gray-4);
    }
}