.list{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    max-width: 600px;
    margin-bottom: 29px;
    @media (width < 1280px) {
        max-width: 450px;
        margin-bottom: 0px;
    }
}