.OptionsAttachmentItem {
    display: flex;
    align-items: center;
    background-color: var(--background-2);
    border-left: 1px solid var(--positive-border);
    border-radius: 5px 25px 25px 5px;
    width: fit-content;
    max-width: 285px;


    .leftContainer {
        display: flex;
        gap: 5px;
    }

    .title {
        overflow: hidden;
        display: -webkit-box;
        word-break: break-all;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: var(--font-weight-med);
    }

    .buttonDelete{
        padding: 12px;
        border-radius: 50%;
    }

}

.big {
    border-radius: 5px 25px 25px 5px;

    .title {
        margin: 17px 20px;
        font-size: var(--font-size-reg);
    }
}

.medium {
    border-radius: 5px 20px 20px 5px;

    .title {
        margin: 13px 15px;
        font-size: var(--font-size-s);
    }
}

.small {
    border-radius: 5px 15px 15px 5px;

    .title {
        margin: 7.5px 10px;
        font-size: var(--font-size-xs);
    }
}