.SwitchSelector {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 1px solid var(--secondary-surface);

    &::-webkit-scrollbar {
        display: none;
    }

    .optionsContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .leftContainer{
            display: flex;
        }

        .arrowUp{
            min-width: 60px;
            height: 60px;
            cursor: pointer;
            transition-duration: 0.2s;
            & img{
                transition-duration: 0.2s;
            }
            &:hover{
                background-color: var(--n-blue-light-3);
                transition-duration: 0.2s;

            }
            &:active{
                background-color: var(--secondary-surface);
                transition-duration: 0.2s;
                & img{
                    transform: translate(0%, -10%);
                    transition-duration: 0.2s;
                }

            }
        }
    }

    .option {
        display: flex;
        padding: 18px 20px;
        border-bottom: 1px solid transparent;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        & input {
            display: none;
        }

        & label {
            width: fit-content;
            color: var(--n-blue-2);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-med);
            cursor: inherit;
            transition: 0.3s ease-in-out;

            .optionQuantity {
                margin-left: 5px;
                color: var(--font-caption-sub);
            }
        }
    }

    .optionHover {
        &:hover {
            background-color: var(--secondary-surface);
            border-bottom: 1px solid var(--secondary-pressed);
            transition: 0.3s ease-in-out;
        }
    }

    .choosen {
        cursor: default;

        & label {
            cursor: inherit;
            color: var(--font);
            transition: 0.3s ease-in-out;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .choosenLine {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background-color: var(--gray-6);
        transition: left 0.3s, width 0.3s;
    }
}

.sticky{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.stickyChoosenLine{
    background-color: var(--primary) !important;
}