.MenuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    border: none;
    border-bottom: 1px solid var(--tertiary-surface);

    .notificationCounter {
        font-size: var(--font-size-reg);
        color: var(--primary);

        @media (max-width) {
            font-size: var(--font-size-s);
        }
    }
}

.lastEl {
    border-radius: 0 0 16px 16px;
}

//VARIANTS
.link {
    min-width: 200px;
    padding-right: 15px;

    & button {
        display: flex;
        justify-content: flex-start;
        padding: 15px 10px;
        border: none;
    }


    &:hover {
        background-color: var(--secondary-surface-sub);
        & button{
            background-color: var(--secondary-surface-sub);
            color: var(--secondary-hovered); 
        }
    }

    &:active {
        background-color: var(--secondary-surface);
        & button{
            background-color: var(--secondary-surface);
            color: var(--secondary-pressed);
        }
    }
}

.activeLink {
    background-color: var(--background-2) !important;

    & button {
        color: var(--font) !important;

    }

    &:hover {
        background-color: var(--background-2) !important;

        & button {
            background-color: var(--background-2) !important;

        }
    }

    &:active {
        background-color: var(--background-2) !important;
    }
}

.localization {
    background-color: var(--tertiary-surface-low);
    padding: 15px 15px 15px 10px;

    & button {
        display: flex;
        justify-content: flex-start;
        border: none;
        padding: 0px;

        & span {
            text-align: left;
            color: var(--font);
        }
    }

    &:hover {
        background-color: var(--tertiary-surface) !important;

        & button {
            background-color: var(--tertiary-surface) !important;

        }
    }
}

.activeLang {
    background-color: var(--tertiary-surface-low);

    &:hover {
        background-color: var(--tertiary-surface);
    }
}


.profile-buttons {
    display: flex;
    gap: 10px;
    padding: 10px;

    .buttonEdit {
        width: 142px;
    }
}