.head {
    position: sticky;
    top: 66px;
    z-index: 5;
    background-color: var(--background-2);
    border-radius: 20px;
}

.headTop {
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: var(--background-2);
    transition: .2s;
}

.visible {
    z-index: 10;
    opacity: 1;
}