.category {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: var(--gray-3);
    transition: all .2s;

    &:hover {
        background-color: var(--gray-4);
    }

    .name {
        font-size: 0.875rem;
        overflow: hidden;
        transition: all .15s;
        white-space: nowrap;
    }
}