.block {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--background-2);
    height: 100%;
    
    .top {
        .image {
            width: 100%;
            height: 276px;
            border-radius:  16px 16px 0 0;

    
            @media (width <= 768px) {
                width: 100%;
                height: 145px;
            }
        }

        .favourite {
            position: absolute;
            right: 10px;
            top: 10px;
        } 
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        height: 100%;

        .middle {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .name {
                font-size: var(--font-size-sreg);
            }
            .priceWrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .price {
                    font-weight: var(--font-weight-sb);
                    font-size: var(--font-size-sm) !important;
                    display: flex;
                }
        
                .quantity {
                    display: flex;

                    @media (width <= 768px) {
                        display: none;
                    }
                }
            }
        }

        .line {
            background-color: var(--gray-5);
            height: 1px;
            width: 100%;

            @media (width <= 768px) {
                display: none;
            }
        }
    }

    .supplier {
        margin-top: auto;
    }

    .supplierNavs {
        gap: 10px;

        @media (width <= 768px) {
            width: 100%;
        }
    }

    .supplierNavsItem {
        width: 100%;
    }
}