.TenderPageMainBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
        gap: 10px;

    }

    .supplierBlock {
        background-color: var(--white);
        border-radius: 20px;
        padding: 7px 16px;
    }

    .navSupplier {
        @media (max-width: 768px) {
            margin-top: auto;
        }
    }

    .supplier {
        width: 100%;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: baseline;
        }
    }

    .slider {
        background-color: var(--white);
        border-radius: 20px;
        padding: 20px;

        .imageSlide{
            min-width: 150px;
            min-height: 150px;
        }
    }
}