.PrimeBannerSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 925px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--background-2);
    border-radius: 20px;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
    @media (max-width: 768px) {
        padding: 0px;
        border-radius: 0px;
    }
}