.TTHeadRow {
    position: sticky;
    top: 65px;

    & tr {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        padding-top: 20px;
        background-color: var(--background-1);
        z-index: 10;

        @media (max-width: 768px) {
            display: none;
        }
    }
}