
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--n-gray-5);
    width: 690px;
    border-radius: 15px;

    &:hover {
        .maximize {
            z-index: 2;
            opacity: 1;
        }
    }

    .maximize {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 1px solid var(--background-2);
        z-index: -1;
        opacity: 0;
        transition: .2s;
    }

    .image {
        object-fit: contain;
    }
}

.fullWindow {
    width: 100vw;

    .image {
        height: 100vh;
        width: auto;
    }
}

@media (max-width: 768px) {
    .wrapper {
        // max-width: 100;
        width: 100vw;

        // .image {
        //     width: 100vw;
        // }
    }
}