.button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 2px 5px 2px 10px;
    background-color: var(--background-2);

    &:hover {
        background-color: var(--gray-4);
    }

    .title {
        margin-right: 16px;
        font-size: 0.875rem;
        // color: var(--foreground);
    }  
}

.mobileButton{
    padding: 7px;
    border: 1px solid var(--gray-5);
    border-radius: 25px;
}