.block {
    position: relative;

    .button {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: var(--empty);
        border: none;
        font-size: 14px;
        color: var(--foreground);

        padding: 10px 10px 10px 15px;
        border-radius: 40px;
        border: 1px var(--gray-5) solid;
        transition: all .2s;
    }

    .options {
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: all .2s;
    }
    
}

.show {
    .options {
        z-index: 1;
        opacity: 1;
    }
}