.MobileNavbar {
    display: none;

    @media (max-width: 768px) {
        width: 100vw;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1;
        bottom: 0;
        background-color: var(--white);
        padding: 0 16px;
        height: 65px;
    }
    
    @media (max-width: 390px) {
        height: 60px;
    }

    @media (max-width: 330px) {
        padding: 0 12px;
    }
}

.navBarParent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s; 
    }

}
