.DetailedPageInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    border-radius: 20px;

    max-width: 768px {
        border-radius: 0px;
    }

    .switchSelectorButton {
        &>button>label {
            max-width: 1024px {
                font-size: var(--font-size-reg);
            }
        }
    }

    .optionsTabContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 16px;
        padding-top: 0px;
    }
}