.DetailedPageInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    border-radius: 20px;

    @media (max-width: 768px) {
        border-radius: 0px;
    }

    .switchSelectorButton {
        &>button>label {
            @media (max-width: 1024px) {
                font-size: var(--font-size-reg);
            }
        }
    }

    .optionsTabContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}