.FooterTop{
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
        gap: 10px;
        width: 508px;
        padding: 20px;
        border-right: 1px solid var(--block-border);
    }

    .noBorderRight{
        border-right: none;
    }
}