.list {
    display: flex;

    .option {
        padding: 15px;
        border-bottom: 1px solid var(--background-1);
        font-size: var(--font-size-s);
        cursor: pointer;
    }
}


// ===={ DIRECTION }====
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.wrap {
    flex-wrap: wrap;
}