.LKPTPage{
    width: 100%;
    background-color: var(--background-2);
    padding: 20px;
    border: 1px solid #E1E1E1;
    border-top: none;
    border-radius: 20px;

    @media (max-width: 768px) {
        padding: 0px;
        padding-bottom: 20px;
        border-radius: 0px;
    }
}

.visible {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
}