.FooterTopColumn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 40px 0px 30px 0px;
    border-right: 1px solid var(--block-border);
    .title{
        font-weight: 600;
        padding: 0px 40px;
    }

    .linksContainer{

        .menuLink{
            padding: 10px 40px !important;
            border-bottom: none !important;
            font-size: var(--font-size-reg);
        }
    }
}