.AboutBB {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1280px;
    background-color: var(--background-brown);
    background-image: url('../../../../../shared/assets/img/BBPRightPart/BBPRightPart.svg'),
                     url('../../../../../shared/assets/img/BBPLeftPart/BBPLeftPart.svg');
    background-position: 100% 0%, 0% 0%;
    background-repeat: no-repeat;
    padding: 50px 0 40px 0;
    border-radius: 20px;

    @media (max-width: 768px) {
        padding: 30px 0 20px 0;
        border-radius: 0px;
        background-image: none;
        width: 100%;
    }


    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 20px;
        max-width: 610px;
        padding: 0 40px;

        .title {
            text-align: center;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-sb);
            @media (max-width: 768px) {
                font-size: var(--font-size-sm);
            }
        }
        .aboutBBColumnContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .aboutBBText {
                @media (max-width: 768px) {
                    font-size: var(--font-size-s);
                }
            }
            .buttonsContainer{
                display: flex;
                gap: 10px;
                width: 100%;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                .fill{
                    width: 100%;
                }
            }
        }
    }
}