.AboutBB {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    background-color: var(--background-brown);
    padding: 0px 0 40px 0;
    border-radius: 20px;
    position: relative;


    @media (max-width: 768px) {
        padding: 0 0 20px 0;
        border-radius: 0px;
    }

    .backgroundImage{
        position: absolute;

        @media (max-width: 768px) {
            display: none;
        }
    }


    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 20px;
        max-width: 610px;
        padding: 50px 40px 0 40px;

        @media (max-width: 768px) {
            padding: 30px 20px 0 20px;
        }

        .title {
            text-align: center;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-sb);
            @media (max-width: 768px) {
                font-size: var(--font-size-sm);
            }
        }
        .aboutBBColumnContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .aboutBBText {
                @media (max-width: 768px) {
                    font-size: var(--font-size-s);
                }
            }
            .buttonsContainer{
                display: flex;
                gap: 10px;
                width: 100%;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                .fill{
                    width: 100%;
                }
            }
        }
    }
}

.noFlex{
    display: block !important;
}