.AboutBB {
    display: flex;
    justify-content: center;
    width: 1240px;
    background-color: var(--background-brown);
    background-image: url('../../../../../shared/assets/img/BBPRightPart/BBPRightPart.svg'),
                     url('../../../../../shared/assets/img/BBPLeftPart/BBPLeftPart.svg');
    background-position: 100% 0%, 0% 0%;
    background-repeat: no-repeat;
    border-radius: 20px;

    @media (max-width: 768px) {
        border-radius: 0px;
    }


    .mainContainer {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 610px;
        padding: 0 40px;

        .title {
            padding: 18px 0;
            margin: 10px 0;
            text-align: center;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-sb);
            @media (max-width: 768px) {
                padding: 20px 0;
                font-size: var(--font-size-sm);
            }
        }

        .aboutBBColumnContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .aboutBBText {
                @media (max-width: 768px) {
                    font-size: var(--font-size-s);
                }
            }

            .buttonsContainer{
                display: flex;
                gap: 10px;
                width: 100%;

                @media (max-width: 768px) {
                    flex-direction: column;
                }

                .fill{
                    width: 100%;
                }
            }
        }
    }
}