.TenderList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
    max-width: var(--max-width-2);
    @media (max-width: 768px) {
        gap: 0px;
        background-color: var(--white);
    }
}