.HeaderLK{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: var(--background-2);
    border-bottom: 1px solid var(--border);

    .content{
        flex-direction: row !important;
        gap: 20px;
    }


    @media (max-width: 1024px) {
        .leftMenu {
            flex-grow: 0;
        }
    
        .middleMenu {
            flex-grow: 1;
            justify-content: flex-start;
        }
    }
}