.wrapper {
    display: flex;

    .left {
        display: flex;
        flex-direction: column;
    }

    .right {        
        .wrapper {
            position: sticky;
            top: 10px;
        }
    }
}