.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    

    @media (max-width: 1024px) {
        flex-direction: column;
        padding-bottom: 60px;
    }


    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        .supplierBlock {
            background-color: var(--white);
            border-radius: 20px;
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                padding-bottom: 20px;
                border-radius: 0px;
            }
        }

        .verifiedSupplier {
            font-size: var(--font-size-s);
            @media (max-width: 1024px) {
                gap: 3.5px;
            }

            @media (max-width: 768px) {
                gap: 2.5px;

                & span {
                    font-size: var(--font-size-xxs);
                }
            }
        }

        .baseSupplier {
            width: 80%;

            @media (max-width:768px) {
                width: 100%;
            }
        }

        .navSupplier {
            margin-right: 20px;

            @media (max-width:768px) {
                width: 100%;

                & button {
                    width: 100%;
                    margin: 0 20px;
                }
            }
        }
    }

    .right {
        width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: sticky;
            top: 10px;

            padding-left: 0px;
            padding-right: 0px;

            .wholesaleProduct {
                padding: 0 16px;
            }

            .optionItem {
                border-radius: 10px;
                padding: 13px 15px;
                cursor: pointer;

                & span {
                    margin-left: 0px;
                }
            }


            .buttonContainer {
                border-top: 1px solid var(--gray-5);
                padding: 20px 16px 0 16px;

                @media (max-width: 768px) {
                    background-color: var(--white);
                    outline: 1px solid transparent;
                    width: 100%;
                    padding: 10px 20px;
                    position: fixed;
                    bottom: 65px !important;
                    left: 0;
                }

                & button {
                    width: 100%;
                }
            }
        }
    }
}


.visible {
    @media (max-width: 1024px) {
        display: flex;
    }

    @media (max-width: 768px) {
        display: none;
    }
}