.block {
    position: relative;    
}


.button{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--gray-5);
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    background-color: var(--gray-3);

    &:hover {
        background-color: var(--gray-4);
    }
}

.input {
    border: none;
    transition: all .2s;
    outline: none;
    background-color: var(--gray-3);
    font-size: var(--font-size-s);

    &::placeholder {
        color: var(--dark-1);
    }
    
}

.selectedOption{
    transition: all .2s;
    outline: none;
    border-radius: 15px;
    font-size: var(--font-size-s);
    &:hover {
        background-color: var(--gray-4);
    }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 0;
    right: 0;
    opacity: 0;
    gap: 5px;
    background-color: var(--gray-4);
    padding: 5px 10px 5px 8px;
    border-radius: 10px;
    transition: all .3s;
}

.option{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-s);
}

.show {
    z-index: 1;
    opacity: 1;
}

.arrowOpen{
    rotate: 180deg;
    transition: rotate 0.3s;
}

.arrow{
    rotate: 0deg;
    transition: rotate 0.3s;
}

.noResult{
    padding: 10px 10px 10px 15px;
    background-color: var(--gray-3);
    font-size: var(--font-size-s);
}

