.TenderType {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--gray-9);
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-med);
}