.block {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all .2s;

    .input {
        display: none;
    }

    .text {
        font-size: var(--font-size-s);
    }

    .arrowImage {
        opacity: 0;
        margin-left: auto;
        height: auto;
    }
}

.rounded {
    border-radius: 10px;
    padding: 5px 10px 5px 8px;
    background-color: var(--gray-3);

    &:hover {
        background-color: var(--gray-4);
    }
}

.rectangular {
    padding: 10px 0;
    font-weight: var(--font-weight-med);
    border-bottom: 1px solid var(--gray-2);
    cursor: pointer;

    .radio {
        width: 30px;
        height: 30px;
        border: 1px solid var(--tertiary);
        border-radius: 50%;
        transition: 0.3s;

        &:active {
            background-color: var(--secondary-surface);
            transition: 0.3s;

            & img {
                transform: scale(1.1);
            }
        }
    }

    .checked{
        &:hover{
            & img{
                opacity: 0.7;
            }
        }
        &:active{
            & img{
                opacity: 0.5;
                transform: scale(0.9);
            }
        }
    }



    .text {
        margin-left: 10px;
        font-size: var(--font-size-reg) !important;    
        @media (max-width: 768px) {
            font-size: var(--font-size-s) !important;    

        }
    }   

}

.singleRadio{
    margin-right: 25px;
    .text{
        margin-left: 5px;
        color: var(--font-caption);
        font-weight: var(--font-weight-reg);
    }
}


.listRadio{
    &:hover{
        color: var(--white);
        background-color: var(--tertiary-pressed);
        transition: all .2s;
    }     
        
}



.active {
    .image {
        opacity: 1;
    }
}

.warning{
    border: 1px solid var(--negative-border) !important;
}

.success{
    border: 1px solid var(--positive-border) !important;
}