.button {
    cursor: pointer;
    border: 1px solid var(--gray-5);
    border-radius: 100px;
    font-weight: var( --font-weight-reg);
    font-size:  var(--font-size-s);
    text-align: center;
    transition: all 0.3s;
    
    &:hover{
        transition: all 0.3s;  
    }
}

.bordered-red-wide {
    padding: 8px 18px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover{
        border-color: var(--red-1);
        color: var(--red-1) ;
    }
}

.bordered-red-narrow {
    padding: 6px 45px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover{
        border-color: var(--red-1);
        color: var(--red-1) ;
    }
}

.background-white-wide {
    padding: 13px 68px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover{
        background-color: var(--gray-3);
    }
}

.background-white-narrow {
    padding: 10px 44px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover{
        background-color: var(--gray-3);
    }
}

.background-red{
    background-color: var(--red-1);
    padding: 15px 58px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    color: var(--white);

    &:hover{
        color: var(--white);
        background-color: var(--red-2);
    }
}

.almost-rectangular{
    padding: 11px 15px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: var(--font-weight-reg);
    font-size: var(--font-size-s);
    color: #666c71;

    &:hover{
        background-color: var(--gray-4);
        color: var(--dark-2);
    }
}

.clear{
    padding: 6px 45px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover{
        background-color: var(--gray-3);
    }
}

.w-arrow-red {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    // padding: 0px 8px 0 13px;
    padding: 10px 18px 10px 16px;
    background-color: var(--red-1);
    font-weight: var(--font-weight-sb);
    font-size: var(--font-size-s);
    color: var(--white);

    &:hover{
        background-color: var(--red-2);
    }
}


.background-gray {
    display: flex;
    background-color: var(--gray-3);
    padding: 8px;
    border-radius: 100px;
    border: none;
    transition: .2s;

    &:hover {
        background-color: var(--gray-4);
    }
}