// >>> ========={ BUTTON COLOR }========= >>>
.primary {
    --button-color: var(--primary);
    --button-color-border: var(--primary-border);
    --button-color-hovered: var(--primary-hovered);
    --button-color-pressed: var(--primary-pressed);
    --button-color-on: var(--on-primary);
    --button-color-surface: var(--primary-surface);
    --button-color-surface-sub: var(--primary-surface-sub);
}

.secondary {
    --button-color: var(--secondary);
    --button-color-border: var(--secondary-border);
    --button-color-hovered: var(--secondary-hovered);
    --button-color-pressed: var(--secondary-pressed);
    --button-color-on: var(--on-secondary);
    --button-color-surface: var(--secondary-surface);
    --button-color-surface-sub: var(--secondary-surface-sub);
}

// <<< ========={ BUTTON COLOR }========= <<<

.wrapper {
    display: flex;
}

.button {
    // width: 100%;
    width: auto;
    border-radius: 100px;
    border: 1px solid var(--gray-5);

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-reg);

    cursor: pointer;
    transition: 0.3s;

    &:disabled {
        background-color: var(--disabled);
        color: var(--button-color-on);
    }
}

.new {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-reg);
    font-weight: var(--font-weight-sb);

    &:hover {
        background-color: var(--button-color-hovered);
        color: var(--button-color-on);
    }
    &:active {
        background-color: var(--button-color-pressed);
        color: var(--button-color-on);
    }
}


// >>> ========={ SIZE }========= >>>
.big {
    padding: 17px 29px;
    border-radius: 25px;
    font-size: var(--font-size-reg);
}
.medium {
    padding: 13px 25px;
    border-radius: 20px;
    font-size: var(--font-size-s);
}
.small {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: var(--font-size-xxs);
}
// <<< ========={ SIZE }========= <<<


// >>> ========={ NEW STYLES }========= >>>
.fill {
    background-color: var(--button-color);
    color: var(--button-color-on);
}
.tonal {
    background-color: var(--button-color-surface);
    color: var(--button-color);
}
.border {
    background-color: var(--empty);
    border: 1px solid var(--button-color-border);
    color: var(--button-color);

    &:hover {
        border: 1px solid var(--button-color);
    }
}
.content {
    background-color: var(--empty);
    color: var(--button-color);
}
// <<< ========={ NEW STYLES }========= <<<


// >>> ========={ OLD STYLES }========= >>>
.default {
    border: none;
}

.bordered-red-wide {
    padding: 8px 18px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover {
        border-color: var(--red-1) !important;
        color: var(--red-1) !important;
    }
}

.bordered-red-narrow {
    padding: 6px 45px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover {
        border-color: var(--red-1) !important;
        color: var(--red-1) !important;
    }
}

.background-white-wide {
    padding: 17px 25px;
    background-color: transparent;
    color: var(--secondary);

    &:hover {
        background-color: var(--secondary-surface-sub) !important;
    }

    &:active{
        background-color: var(--secondary-surface) !important;
    }
}

.background-white-narrow {
    padding: 10px 44px;
    background-color: transparent;
    color: var(--dark-2);

    &:hover {
        background-color: var(--secondary-surface-low);
    }

    &:active{
        background-color: var(--secondary-surface);
    }
}

.background-red {
    background-color: var(--red-1);
    padding: 15px 58px;
    font-weight: var(--font-weight-bold);
    color: var(--white);

    &:hover {
        color: var(--white) !important;
        background-color: var(--red-2) !important;
    }
}

.background-red-huge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 175px;
    height: 100%;
    padding: 0 41.5px;
    border-radius: 16px;
    background-color: var(--red-1);
    font-weight: var(--font-weight-eb);
    color: var(--white);
}


.almost-rectangular {
    padding: 11px 15px;
    border-radius: 10px;
    border-color: transparent;
    color: #666c71;

    &:hover {
        background-color: var(--gray-4) !important;
        color: var(--dark-2) !important;
    }
}

.almost-rectangular-red {
    background-color: var(--red-1);
    padding: 11px 15px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: var(--font-weight-bold);
    color: var(--white);

    &:hover {
        background-color: var(--red-2);
    }
}
.clear {
    padding: 6px 45px;
    background-color: transparent;
    border-color: var(--secondary);
    color: var(--secondary);

    &:hover {
        background-color: var(--secondary-surface-sub) !important;
    }
}

.w-arrow-red {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 10px 18px 10px 20px;
    background-color: var(--red-1);
    font-weight: var(--font-weight-sb);
    color: var(--white);

    &:hover {
        background-color: var(--red-2) !important;
    }
}


.background-gray {
    display: flex;
    background-color: var(--gray-3);
    padding: 8px;
    border-radius: 100px;
    border: none;
    transition: .2s;

    &:hover {
        background-color: var(--gray-4) !important;
    }
}

// <<< ========={ OLD STYLES }========= <<<


