.item {
    display: flex;
    align-items: center;
    width: fit-content;
    // gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--secondary-border);
    transition: .2s;

    &:hover {
        background-color: var(--gray-4);
        border-color: var(--gray-4);
    }

    &:active {
        scale: 0.98;
        & img {
            border: 2px solid var(--secondary);
            transition-duration: 0.1s;
        }
    }

    .optionItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .hoverWindow{
            &:hover{
                visibility: hidden !important;
                opacity: 0 !important;
                transition-duration: 0.2s;
            }
        }

        @media (min-width: 1024px) {
            &:hover {
                .hoverWindow {
                    visibility: visible;
                    opacity: 1;
                    transition-duration: 0.2s;
                }
            } 
            &:active {
                .hoverWindow {
                    opacity: 0;
                    transition-duration: 0.2s;
                }
            }
        }
        

        

        .name {
            display: --webkit-box;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .row {
        flex-direction: row;
        gap: 10px;
    }

    .image {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 24px;
        border: 1px solid var(--secondary);
        transition-duration: 0.3s;
    }

}

.listItem {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--n-gray-6);
    border-radius: 0px;
}

.active {
    border-color: var(--gray-7);

    &:hover {
        border-color: var(--gray-7);
    }
}