.OptionsAttachmentItem {
    display: flex;
    align-items: center;
    background-color: var(--background-2);
    border-left: 1px solid var(--positive-border);
    border-radius: 5px 25px 25px 5px;
    width: fit-content;


    .leftContainer {
        display: flex;
        align-items: center;
        padding-right: 5px !important;
        
        .title {
            overflow: hidden;
            display: -webkit-box;
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            max-width: 200px;
            font-weight: var(--font-weight-med);
        }
    }



    .buttonDelete {
        padding: 12px;
        border-radius: 50%;
    }

}

.big {
    border-radius: 5px 25px 25px 5px;

    .leftContainer {
        padding: 12.5px 20px;
        gap: 6.25px;

        .title {
            font-size: var(--font-size-reg);
        }
    }

}

.medium {
    border-radius: 5px 20px 20px 5px;

    .leftContainer {
        padding: 10px 16px;
        gap: 6px;

        .title {
            font-size: var(--font-size-s);
        }
    }
}

.small {
    border-radius: 5px 15px 15px 5px;

    .leftContainer {
        padding: 7.5px 10.75px;
        gap: 5.75px;

        .title {
            font-size: var(--font-size-xs);
        }
    }
}