.supplierInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--gray-3);
    border-radius: 100px;
    padding: 7px 0px 7px 16px;


    font-size: var(--font-size-s);
    @media (max-width: 600px) {
        display: none;
    }
}

.tendersCard{
    padding: 16px 15px;
}

.bottomBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 99px;
    & span{
        font-size: var( --font-size-xxs);
    }
}

.supplierName {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: var(--red-1);
        transition: color 0.3s;
    }
}

.supplierStatus {
    font-weight: var(--font-weight-sb);
    letter-spacing: -0.03em;
    color: #43b0ff;
}