.block {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--background-2);

    .column {
        .columnData {
            height: 350px;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .image {
            width: 80px;
            height: 80px;
        }
    }
}

.slideFull {
    width: calc(100vw - 131px);
}

.full {
    .columnData {
        height: 100vh !important;
    }
}