.HoverWindow {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    transition-duration: 0.3s;
    z-index: 3;

    &:hover{
        visibility: hidden !important;
        opacity: 0 !important;
    }


    .windowContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 5px solid var(--background-1);
        background-color: var(--background-2);
        padding: 15px;
        gap: 10px;
        box-shadow: 0 0 5px 0 rgba(29, 29, 31, 0.5);

        .image {
            border-radius: 20px;
        }
    }

    .triangle {
        position: absolute;
        width: 0;
        height: 0;
    }
}


.show{
    visibility: visible !important;
    opacity: 1 !important;
    &:hover{
        visibility: visible !important;
        opacity: 1 !important;
    }
}

//POSITION
.top {
    transform: translate(-50%, calc(-100% - 30px));

    .triangle {
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid var(--background-1);
    }
}

.bottom {
    transform: translate(-50%, 30px);

    .triangle {
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid var(--background-1);
    }
}

.left {
    transform: translate(calc(-100% - 30px), -50%);

    .triangle {
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid var(--background-1);
    }
}

.right {
    transform: translate(30px, -50%);

    .triangle {
        left: -11px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 16px solid var(--background-1);
    }
}
