.block {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--background-2);
    height: 100%;
    max-width: 179px;

    .top {
        position: relative;

        .image {
            border-radius: 14px;
        }

        .favourite {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .middle {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .name {
            max-height: calc(1.2em * 2);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: var(--font-size-s);
            text-overflow: ellipsis;
        }

        .priceWrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 34px;

            .price {
                font-weight: var(--font-weight-sb);
                font-size: var(--font-size-sm) !important;
                display: flex;
            }

        }
    }
}