.wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .text {
        position: absolute;
        top: -10px;
        padding: 2.5px 5px;
        background-color: var(--background-2);
        border: 1px solid var(--background-gray);
        color: var(--font-caption);
        border-radius: 20px;
        z-index: 3;
    }

    .many {
        background-color: var(--background-gray);
        border-radius: 20px 20px 0 0;
        padding: 10px 15px;
    
        .button {
            margin-bottom: auto;
        }
    }
}
