// ========={ WHITE STYLE }=========
.table {
    width: 100%;
    position: relative;
}

.white {
    border-radius: 20px;
    background-color: var(--background-2);
    border-collapse: collapse;

    tr {
        &:nth-child(2n) {
            background-color: var(--background-gray-low);
        }

        &:last-child {

            & td:first-child {
                border-radius: 0 0 0 20px;
            }

            & td:last-child {
                border-radius: 0 0 20px 0;
            }
        }

        td, th {
            border: 1px solid var(--background-gray);
        }
        th {
            padding: 20px;
            color: var(--font-caption);
            font-weight: var(--font-weight-reg);
            text-align: left;
        }
    }
}