.WrapperForLogInNSupportPages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 610px;
    width: 100%;
    padding-bottom: 20px;

    @media (max-width: 768px) {
        padding-bottom: 60px;
    }

    .logoButton {
        margin: 40px 0;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--background-2);
        padding: 20px;
        width: 100%;
        border: 1px solid var(--block-border);
        border-radius: 20px;

        @media (max-width: 768px) {
            border-radius: 0px;
            border: none;
        }

        .pageTitleContainer {
            position: sticky;
            top: 0;
            left: 0;
            background-color: var(--background-2);
            padding-top: 10px;
            padding-bottom: 4px;
            z-index: 2;

            .pageTitle {

                z-index: 2;
                background-color: var(--tertiary-surface);
                padding: 20px;
                border-radius: 20px 20px 0 0;
                color: var(--font-size-reg);
                font-weight: var(--font-weight-med);

                @media (max-width: 768px) {
                    padding: 12px 20px;
                    font-size: var(--font-size-s);
                }
            }
        }


        .forgotPasswordButton {
            width: 100%;
            padding: 17px 35px;

            @media (max-width: 768px) {
                padding: 13px 35px;
                font-size: var(--font-size-s);
            }
        }

    }

    .additionalBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 610px;
        padding: 20px;
        background-color: var(--background-2);
        border-radius: 20px;

        @media(max-width: 1280px){
            max-width: 582px;
        }
        @media(max-width: 1024px){
            max-width: 541px;
        }
        @media(max-width: 768px){
            max-width: 425px;
        }

        .homeButton{
            display: flex;
            @media (max-width: 768px){
                display: none;
            }
        }

        .additionalBlockTitle {
            font-weight: var(--font-weight-med);
        }

        .additionalBlockButtons {
            display: flex;
            gap: 10px;
        }
    }

    .buttonsContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 768px) {
            display: none;
        }

        & button {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}