.header {
    width: 100vw;
    background-color: var(--background-2);
}

.headerTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.headerBottom{
    @media (max-width: 768px) {
        display: none !important;
    }
}