.header {
    width: 100vw;
    background-color: var(--background-2);
    z-index: 90;
    position: sticky;
    top: 0;
}

.headerBottom{
    margin-top: -20px;
}


@media (max-width: 768px) {
    .headerBottom {
        display: none !important;
    }
}