.header {
    width: 100vw;
    background-color: var(--background-2);

    .headerTop {
        // position: fixed;
    }
}

.headerBottom{
    @media (max-width: 768px) {
        display: none !important;
    }
}