.block{
    display: flex;
}

.noBorder {
    & span{
        border-bottom: none !important;
        border-radius: 16px 0 0 16px !important;
    }
}

.topBorder{
    & span{
        border-radius: 16px 0 0 0;
    }
}