.TenderPageHeader {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    overflow: hidden;

    & div{
        border-radius: 10px;
        background-color: var(--white);

    }

    .topContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 16px 10px 16px;

        .tenderType {
            font-size: var(--font-size-s);
            color: var(--gray-9);
        }

        .tenderName{
            font-weight: var(--font-weight-med);
            font-size: var(--font-size-m);
        }
    }

    .middleContainer{
        width: 100%;
        padding: 7px 16px 7px 7px;

        @media (max-width: 500px) {
            padding: 16px;

        }

        .navSupplier{
            @media (max-width: 500px) {
                margin-top: auto;
            }
        }

        .supplier{
            width: 100%;
            justify-content: space-between;

            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: baseline;
            }
            
        }
    }

    .bottomContainer{
        display: flex;
        gap: 45px;
        border-radius: 20px;
        padding: 10px 10px 0px 10px;

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 20px;
        }

        .imageSlide{
            min-width: 150px;
            min-height: 150px;
        }

        .additionalInfo{
            display: none;
            @media (max-width: 1000px) {
                display: flex;
                width: 300px;
            }
        }
    }

}