.TenderPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white);

    .leftContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .topContainer {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .tenderType {
                color: var(--gray-9);
                font-size: var(--font-size-reg);
                font-weight: var(--font-weight-light);
            }

            .tenderName {
                color: var(--dark-3);
                font-size: var(--font-size-mxl);
                font-weight: var(--font-weight-med);
            }
        }

        .restInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
               }

            .restInfoTender {
                gap: 10px;

                @media (max-width: 768px) {
                    flex-direction: row;
                    gap: 10px;
                }
            }

            .restInfoContainer {
                padding: 15px;
                border-radius: 5px;
                background-color: var(--gray-2);
                min-width: fit-content;


                .restInfoItem {
                    font-weight: var(--font-weight-light);
                    font-size: var(--font-size-s);
                    color: var(--gray-9);
                }

                .restInfoItemSpan {
                    font-weight: var(--font-weight-reg);
                }
            }

        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 5px;
        min-width: 20%;

        .button{
            width: 100%;
        }

        @media (max-width: 1024px) {
            flex-direction: row;
            gap: 40px;
            background-color: var(--white);
            z-index: 2;
            width: 100%;
            padding: 20px;
            position: fixed;
            bottom: 0%;
            left: 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }

        .priceQuantity{
            justify-content: flex-end;
            @media (max-width: 1024px) {
                justify-content: flex-start;
                width: 40%;
            }
        }

        .quantity {
            color: var(--gray-9);
            font-weight: var(--font-weight-light) !important;
            font-size: var(--font-size-reg) !important;

        }

        .price {
            color: var(--dark-3);
            font-weight: var(--font-weight-eb) !important;
            font-size: var(--font-size-ml) !important;
        }
    }


}