.wrapper {
    background-color: var(--white);
    padding-bottom: 10px;

    .content {
        flex-direction: row !important;
        gap: 15px;
        padding-left: 18px;

        .line {
            background-color: var(--gray-5);
            width: 1px;
            height: 100%;
        }

        .support {
            margin-left: auto;
        }
    }
}