.wrapper {
    background-color: var(--white);
    padding-bottom: 10px;

    .content {
        gap: 15px;

        .line {
            background-color: var(--gray-5);
            width: 1px;
            height: 100%;
        }

        .support {
            margin-left: auto;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}