//VARIABLE
$mobile-dimension: 700px;

//MIXINS
@mixin desktop {
    display: flex;

    @media (max-width: $mobile-dimension) {
        display: none;
    }
}

@mixin mobile {
    display: none;

    @media (max-width: $mobile-dimension) {
        display: flex;
    }
}

.TenderCard {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: var(--max-width-2);
    background-color: var(--white);
    border-radius: 15px;
    border-bottom: 1px solid var(--gray-5);
    padding: 16px;

    .topContainer {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-dimension) {
            display: none;
        }

        .info {
            display: flex;
            gap: 20px;
        }
    }

    .middleContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .cardTitle {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: var(--font-weight-reg);
            font-size: var(--font-size-sm);

            @media (max-width: $mobile-dimension) {
                font-size: var(--font-size-reg);
            }
        }

        .lineTable{
            display: flex;
            flex-direction: row;
        }
    }


    .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inCircleHeartTender {
            width: 30px;
            height: 30px;
        }

        .desktop {
            @include desktop;
        }

        .mobileBottom {
            @include mobile;
            gap: 15px;

            @media (max-width: 340px) {
                gap: 7px;
            }
        }

        .supplierBlock {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .createdAt {
            display: none;

            @media (max-width: $mobile-dimension) {
                display: block;
                font-weight: var(--font-weight-reg);
                font-size: var(--font-size-s);
                color: var(--gray-9);
            }
        }
    }


}