.MenuItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    background-color: var(--background-2) !important;   
    padding: 7px 0 !important;
    border: none !important;
    border-radius: 0% !important;

    & span {
        font-size: var(--font-size-xxxs);
        font-weight: var(--font-weight-med);
        color: var(--tertiary);
        transition: 0.3s;
    }
    

    &:hover {
        background-color: var(--tertiary-surface-low) !important;
    }

    &:active {
        background-color: var(--tertiary-surface) !important;
        & span {
            color: var(--font-caption) !important;
            transition: 0.3s;
        }
    }
}

.active{
    & span{
        color: var(--font) !important;
    }

    &:hover{
        background-color: var(--background-2) !important;
    }

    &:active{
        background-color: var(--background-2) !important;
        & span{
            color: var(--font) !important;
        }
    }
}
