.TariffsTable{
    .desktop{
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            display: none;

        }
    }

    .mobile{
        display: none;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}