.block {
    display: flex;
    align-items: center;
    gap: 15px;

    .image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid var(--gray-5);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .name {
            font-size: 1rem;
            white-space: nowrap;        
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 240px;
        }
    }
}