.SortFilterSidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-height: 705px;
    max-width: 255px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px 15px;
}