.SortFilterSidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
    // max-height: 705px;
    height: fit-content;
    max-width: 255px;
    width: 100%;
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px 15px;

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}