.MainInfoProduct{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @media (max-width: 1024px) {
        display: none;
    }


    .wholesaleProduct {
        display: flex;
        flex-direction: column;
    }

    .optionItem {
        border-radius: 10px;
        padding: 13px 15px;
        cursor: pointer;

        & span {
            margin-left: 0px;
        }
    }


    .buttonContainer {
        border-top: 1px solid var(--gray-5);
        padding: 20px 16px 0 16px;
        z-index: 2;

        @media (max-width: 768px) {
            background-color: var(--white);
            outline: 1px solid transparent;
            width: 100%;
            padding: 10px 20px;
            position: fixed;
            bottom: 65px !important;
            left: 0;
        }
        @media (max-width: 390px) {
            bottom: 59px !important;

        }

        & button {
            width: 100%;
        }
    }
}

