.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--n-blue-light-3);
    border-radius: 50%;
}