.notFoundPage {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 610px;
    height: 100vh;
}

.errorImage {
    margin-bottom: 20px;

    @media(max-width: 1280px) {
        max-width: 582px;
    }

    @media(max-width: 1024px) {
        max-width: 541px;
    }

    @media(max-width: 768px) {
        max-width: 425px;
        height: 160px;
        margin-bottom: 0px;
    }
    @media(max-width: 425px) {
        max-width: 320px;
        height: 129px;
        margin-bottom: 0px;
    }
}