.block {
    padding-left: 0;
    padding-right: 0;

    .top {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 20px 20px;

        .topLeft {
            display: flex;
            gap: 5px;

            .title {
                font-weight: var(--font-weight-med);
            }
            .length {
                color: var(--font-caption-sub);
                font-weight: var(--font-weight-med);
            }
        }
    }
    .borderBottom{
        border-bottom: 1px solid var(--background-1);
    }

    .content {
        // overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }

        .files {
            // margin: 0 20px;
        }
    }
}

.row {
    .topLeft {
        font-size: var(--font-size-reg);
    }
    .content {
        overflow-x: auto;
    }

    .download {
        padding: 10px 15px;
        font-size: var(--font-size-xxs);
    }
}

.column {
    .topLeft {
        font-size: var(--font-size-sm);
    }

    .content {
        max-height: 190px;
        overflow-y: auto;
    }

    .bottom {
        padding: 20px 20px 0 20px;
        

        .download {
            width: 100%;
            padding: 13px 0;
        }
    }

    .borderTop{
        border-top: 1px solid var(--background-1);
    }
}


// >>> ========={ / VIEW \ }========= >>>

.chat {
    background-color: var(--empty);
    padding: 0;
    gap: 10px;

    .files {
        margin: 0 !important;
    }

    .bottom {
        padding: 0;
    }
}

// <<< ========={ \ VIEW / }========= <<<
