.optionList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .listTitle{
        font-weight: var(--font-weight-med);
        font-size: var(--font-size-reg);
        & span{
            color: var(--primary);
        }
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
}