.notify {
    max-width: 1280px;
    width: 100%;
    background-color: var(--background-2);
    padding: 20px;
    border-radius: 20px 20px 0 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        padding: 20px;

        .text {
            font-size: var(--font-size-reg);
            font-weight: var(--font-weight-med);
            text-align: center;
            width: 100%;
            // padding: 20px;
            color: inherit;
        }
    }
}

// >>> ========={ STATUS }========= >>>
.success {
    background-color: var(--positive);
    color: var(--on-positive);
}
.error {
    background-color: var(--negative);
    color: var(--on-negative);
}
// <<< ========={ STATUS }========= <<<
