.notify {
    max-width: 1280px;
    width: 100%;
    background-color: var(--background-2);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 10px 0 var(--tertiary);


    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        border: 1px solid var(--background-2);
        background-color: var(--background-2);
        padding: 20px;
        color: var(--font);

        .text {
            font-size: var(--font-size-reg);
            font-weight: var(--font-weight-med);
            text-align: center;
            width: 100%;
            // padding: 20px;
            color: inherit;
        }
    }
}

// >>> ========={ STATUS }========= >>>
.success {
    border-color: var(--positive-border) !important;
    // color: var(--on-positive);
}
.error {
    border-color: var(--negative-border) !important;
    // color: var(--on-negative);
}
// <<< ========={ STATUS }========= <<<
