.WrapperDropdownList{
    background-color: var(--background-2);
    opacity: 0;
    transition: .3s;
    overflow-y: auto;
}

.desktop{
    position: absolute;
    border: 5px solid var(--tertiary-surface);
    border-radius: 0 20px 20px 20px;
}

.mobile{
    width: 100%;
}

.visible {
    opacity: 1;
    z-index: 20;
    transition: .3s;
}


.right{
    right: 0;
    border-radius: 20px 0px 20px 20px;
}

.rightMobile{
    right: 0;
}