
.block {
    display: flex;
    gap: 40px;

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    
    .line {
        width: 1px;
        height: 100%;
        background-color: var(--gray-5);
    }
}

.iconsMenu{
    display: flex;
    gap: 40px;
    align-items: center;

    @media (max-width:900px) {
        display: none;
    }
}