.row {
    display: flex;
    gap: 10px;
}


// >>> ========={ / VIEW \ }========= >>>

.default {

}

.chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// <<< ========={ \ VIEW / }========= <<<

